*.swp
*.swo
*swo
*swp
*~
[Bb]in/
[Oo]bj/
_ReSharper.*/
*.suo
*resharper.user
*.sln.cache
AssemblyInfo.cs
*.user
TestResult.xml
SolutionVersion.cs
CommonAssemblyInfo.cs
AssemblyInfo.cs
build